header {
    display: flex;
    flex-direction: column;

    & .logo {
        position: relative;
        background-color: white;
        text-align: center;
        align-items: center;
        padding: 14px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }

    & .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-principal-background;
        gap: 17px;
        padding: 15px;

        & input {
            border: none;
            background-color: $color-principal-background;
            @include roboto-font(16px,500, normal);
            color: $color-hard-grey;
        }

        & i.fa-location-dot {
            color: $color-hard-grey;
            padding-left: 75px;
        }
    }
}