/*  ---FONTS--
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/

/* --Colors--
violet : #9356DC
rose : #FF79DA
turquoise : #99E2D0
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

/* --- RESET ---*/

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

/*--- global ---*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-principal-background: #EAEAEA;
$color-main-container: #F6F6F6;

@mixin carte-title {
    font-weight: 500;
    font-size: 18px;
}

@mixin roboto-font($font-size, $font-weight, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

@mixin Shrikhand-font($font-size, $font-weight, $line-height) {
    font-family: "Shrikhand", cursive;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

@mixin heart__i($top, $right) {
    i {
        position: absolute;
        top: $top;
        right: $right;
        font-size: 21px;
        }
}

@mixin heart {
    & .heart {
        & .fas {
            color: transparent;
            background-image: linear-gradient(to top, #FF79DA, #9356DC);
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            transition: all 300ms ease-in-out;
        }
        &:hover .fas {
            opacity: 1;
            transform: scale(1.04);
        }
    }
}

@mixin image($background-image, $background-position) {
    width: 100%;
    height: 250px;
    background-image: url($background-image);
    background-size: cover;
    background-position: $background-position;
    border-radius: 15px 15px 0px 0px;
}


body {
    font-family: 'Roboto', sans-serif;
 }

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $color-main-container;
}

h1 {
    @include Shrikhand-font(30px, 400, normal)
}

h2 {
    @include roboto-font(24px, 700, 18.13px)
}

h3 {
    @include Shrikhand-font(28px, 400, normal)
}

h4 {
    @include roboto-font(16px, 300, normal)
}

p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21.09px;
}

/* --- header ---*/

header {
    display: flex;
    flex-direction: column;
    & .logo {  
        position: relative;
        background-color: white;
        text-align: center;
        align-items: center;
        padding: 14px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
    
    & .search-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-principal-background;
        gap: 17px;
        padding: 15px;
        & input {
            border: none;
            background-color: $color-principal-background;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 500;
            color: #353535;
        }
        & i.fa-location-dot{
            color: #353535;
            padding-left: 75px;
        }
    }
}

/* --- main ---*/

    /* --- menu ---*/

main {
    width: 100%;
    & .menu {
        & h2 {
        text-align: center;
        margin-top: 39.5px;
        margin-bottom: 15px;
            }
        & p {
        text-align: center;
            }
                }
        }      
        .menu__explore {
            display: flex;
            justify-content: center;
            margin-top: 27px;
            margin-bottom: 57px;
            & .explore {
                font-weight: 500;
                font-size: 16px;
                line-height: 18.75px;
                background: linear-gradient(175deg,$color-secondary, $color-primary);
                box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                color: white;
                border: none;
                border-radius: 25px;
                height: 50px;
                width: 218px;
                text-align: center;
                transition: transform 200ms ease-in-out;
                    }   
            & .explore:hover {
                transform: scale(1.02);
                box-shadow: 0 3px 10px black;
                            }
                        }    

    /* --- fonctionnement ---*/

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 440px;
    & .functioning {
        display: flex;
        margin-left: -180px;
        margin-top: 48px;
    }
    & .choices__menu {
        display: flex;
        width: 100%;
        gap: 25px;
        margin-top: 26px;
    }
    & ol {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & li {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        gap: 27px;
        width: 80%;
        height: 72px;
        background-color: #F6F6F6;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        &:hover {
            transform: scale(1.02);
            background-color: $color-principal-background;
            box-shadow: 0 3px 5px #7e7e7e;
        }
        }
    & span {
        position: absolute;
        left: -15px;
        padding: 4px 8px;
        border: 1px solid $color-primary;
        border-radius: 50%;
        background-color: $color-primary;
        color: white;
    }
    & .choices-icone {
        font-size: 19px;
        position: relative;
        color: #7e7e7e;
        z-index: 1;
        &:hover {
            transform: scale(1.02);
            color: #9356DC;
        }
    }
    }

/* --- restaurant ---*/


.restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14px;
    & .restaurant__title {
        display: flex;
        margin-left: -200px;
        margin-top: 48px;
        margin-bottom: 20px;
        background-color: $color-main-container;
    }
    & a {
        text-decoration: none;
        color: black;
    }
    & .restaurants__card {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-size: cover;
        gap: 18px;
        & .new {
            position: relative;
        }
        & .new::before {
            content: "Nouveau";
            position: absolute;
            display: grid;
            place-items: center;
            top: 20px;
            right: 15px;
            background-color: #99E2D0;
            color: #2FAF94;
            width: 80px;
            height: 29px;
        }
    }
    }

.restaurants__card__card {
    display: flex;
    position: relative;
    height: 261px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    & .image-1 {
        @include image("../Images-et-textes-Ohmyfood/images/restaurants/image-1.jpg", bottom);
    }
    & .image-2 {
        @include image("../Images-et-textes-Ohmyfood/images/restaurants/image-2.jpg", 25% 60%)
    }
    & .image-3 {
        @include image("../Images-et-textes-Ohmyfood/images/restaurants/image-3.jpg", 25% 101%)
    }
    & .image-4 {
        @include image("../Images-et-textes-Ohmyfood/images/restaurants/image-4.jpg", 25% 93%)
    }
    & .card-txt {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 5px;
        padding: 16px 0px 12px 13px;
        }
        & .card-title  {
            @include roboto-font(18px, 700, 21.09px)
        }
        & .card-subtitle {
            @include roboto-font(17px, 300, normal)
        }
        @include heart;
        @include heart__i(25px, 25px)
    }

/* --- footer ---*/

footer {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding:25px 22px;
    background-color: #353535;
    color: white;
    & span {
        @include Shrikhand-font(18px, 400, normal);
        color: white;
        padding-bottom: 9px;
    }
    & a {
        text-decoration: none;
        color: white;
    }
    .footer-line {
        display: flex;
        gap: 11px;
    }
    .tail {
        font-size: 11px;
    }
}

/* --- page restaurant ---*/


img {
    width: 100%;
    height:25vh;
    object-fit: cover;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    & section {
        margin-top: -45px;
        border-radius: 40px;
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
        background-color: $color-main-container;
    }
    & .page__title {
        position: relative;
        @include heart;
        @include heart__i(40px, 41px);
        h3 {
            margin-left: 17px;
            margin-top: 32px;
        }
    }
    & article {
        margin: 40px 13px 0px 13px;
        & h4 {
            position: relative;
            height: 27px;
            margin-bottom: 15px;
            &::after {
                content: "";
                position: absolute;
                top: 25px;
                left: 0px;
                height: 3px;
                width: 40px;
                background-color: #2FAF94;
            }
        }
    }
    & .page-card {
        display: flex;
        align-items: flex-end;
        padding: 15px;
        background-color: white;
        border-radius: 15px;
        margin-bottom: 15px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        & .page-card__title {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5px;
            & .page-card__subtitle {
                @include roboto-font(18px, 500, normal)
            }
            & .page-card__subtitle__title {
                @include roboto-font(15px, 300, normal);
            }
        & .page-card__price{
            @include roboto-font(15px, 700, normal);
            margin: 15px;
        }
        }
    }
}








