@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/* --- RESET ---*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/*--- global ---*/
body {
  font-family: "Roboto", sans-serif;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 18.13px;
}

h3 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}

h4 {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  flex-direction: column;
}
header .logo {
  position: relative;
  background-color: white;
  text-align: center;
  align-items: center;
  padding: 14px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header .search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 17px;
  padding: 15px;
}
header .search-bar input {
  border: none;
  background-color: #EAEAEA;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #353535;
}
header .search-bar i.fa-location-dot {
  color: #353535;
  padding-left: 75px;
}

main {
  display: flex;
  flex-direction: column;
}
main .menu {
  background-color: #F6F6F6;
  justify-content: center;
}
main .menu h2 {
  text-align: center;
  padding-top: 39.5px;
  padding-bottom: 15px;
  line-height: normal;
}
main .menu p {
  text-align: center;
}

.menu__explore {
  display: flex;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 57px;
  background-color: #F6F6F6;
}
.menu__explore .explore {
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 218px;
  text-align: center;
  transition: transform 200ms ease-in-out;
}
.menu__explore .explore:hover {
  transform: scale(1.02);
  box-shadow: 0 3px 10px black;
}

.choices {
  background-color: white;
  padding: 68px 20px;
}
.choices .container {
  max-width: 1440px;
  margin: auto;
}
.choices .choices__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 25px;
  margin-top: 26px;
  padding: 0px 0px 0px 20px;
}
.choices li {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 33px;
  gap: 27px;
  width: 100%;
  height: 72px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.choices li:hover {
  transform: scale(1.02);
  background-color: #EAEAEA;
  box-shadow: 0 3px 5px #7e7e7e;
}
.choices span {
  position: absolute;
  left: -15px;
  padding: 4px 8px;
  border: 1px solid #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.choices .choices-icone {
  font-size: 19px;
  position: relative;
  color: #7e7e7e;
  z-index: 1;
}
.choices .choices-icone:hover {
  transform: scale(1.02);
  color: #9356DC;
}

.restaurants {
  padding: 0px 14px 66px 14px;
  background-color: #F6F6F6;
  gap: 20px;
}
.restaurants .container {
  max-width: 1440px;
  margin: auto;
}
.restaurants .restaurant__title {
  display: flex;
  padding: 48px 0px 10px 0px;
}
.restaurants .restaurants__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  gap: 20px;
}
.restaurants .restaurants__card .new {
  position: relative;
}
.restaurants .restaurants__card .new::before {
  content: "Nouveau";
  position: absolute;
  display: grid;
  place-items: center;
  top: 20px;
  right: 15px;
  background-color: #99E2D0;
  color: #2FAF94;
  width: 80px;
  height: 29px;
}
.restaurants .restaurants__card .restaurants__card__card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}
.restaurants .restaurants__card .restaurants__card__card .image-1 {
  width: 100%;
  height: 170px;
  background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-1.jpg");
  background-size: cover;
  background-position: 25% 60%;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .restaurants__card .restaurants__card__card .image-2 {
  width: 100%;
  height: 170px;
  background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-2.jpg");
  background-size: cover;
  background-position: 25% 60%;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .restaurants__card .restaurants__card__card .image-3 {
  width: 100%;
  height: 170px;
  background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-3.jpg");
  background-size: cover;
  background-position: 25% 90%;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .restaurants__card .restaurants__card__card .image-4 {
  width: 100%;
  height: 170px;
  background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-4.jpg");
  background-size: cover;
  background-position: 25% 93%;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .restaurants__card .restaurants__card__card .card-txt {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  padding: 16px 0px 12px 13px;
}
.restaurants .restaurants__card .restaurants__card__card .card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
}
.restaurants .restaurants__card .restaurants__card__card .card-subtitle {
  font-size: 17px;
  font-weight: 300;
  line-height: normal;
}
.restaurants .restaurants__card .restaurants__card__card .heart .fas {
  color: transparent;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.restaurants .restaurants__card .restaurants__card__card .heart:hover .fas {
  opacity: 1;
  transform: scale(1.04);
}
.restaurants .restaurants__card .restaurants__card__card i {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 21px;
}

footer {
  display: flex;
  flex-direction: column;
  height: 186px;
  gap: 16px;
  padding: 25px 22px;
  background-color: #353535;
  color: white;
}
footer span {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .footer-line {
  display: flex;
  gap: 12px;
}
footer .footer-inline {
  display: flex;
  gap: 7px;
}
footer .invers-footer__line {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .invers-footer-inline {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .invers-footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .tail {
  font-size: 11px;
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
}
.page .image-1 {
  width: 100%;
  height: 25vh;
  background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-1.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
}
.page .image-2 {
  width: 100%;
  height: 25vh;
  background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
}
.page .image-3 {
  width: 100%;
  height: 25vh;
  background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-3.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
}
.page .image-4 {
  width: 100%;
  height: 25vh;
  background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-4.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0px 0px;
}
.page .page-container {
  margin-top: -45px;
  border-radius: 40px 40px 0px 0px;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  background-color: #F6F6F6;
}
.page .page__title {
  position: relative;
}
.page .page__title .heart .fas {
  color: transparent;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.page .page__title .heart:hover .fas {
  opacity: 1;
  transform: scale(1.04);
}
.page .page__title i {
  position: absolute;
  top: 9px;
  right: 41px;
  font-size: 21px;
}
.page .page__title h3 {
  margin-left: 17px;
  margin-top: 32px;
}
.page article {
  margin: 40px 13px 0px 13px;
}
.page article h4 {
  position: relative;
  height: 27px;
  margin-bottom: 15px;
}
.page article h4::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0px;
  height: 3px;
  width: 40px;
  background-color: #2FAF94;
}
.page .page-card {
  display: flex;
  height: auto;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.page .page-card .page-card__description {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  gap: 5px;
  overflow: hidden;
}
.page .page-card .page-card__description .page-card__description__title {
  height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.page .page-card .page-card__description .page-card__description__subtitle {
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
}
.page .page-card .page-card__price {
  display: flex;
  align-items: flex-end;
  padding: 15px;
}
.page .page-card .page-card__price p {
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
}
.page .page-card .page-card__pointer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #99E2D0;
  margin-right: -60px;
  width: 59px;
  transition: all 500ms;
}
.page .page-card .page-card__pointer i {
  display: grid;
  background: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  place-items: center;
  color: #99E2D0;
  font-size: 21px;
}
.page .page-card:hover .page-card__pointer {
  margin-right: 0;
}
@keyframes spin {
  0% {
    transform: rotate(-150deg);
  }
  100% {
    transform: rotate(0);
  }
}
.page .page-card:hover .page-card__pointer i {
  animation: spin 0.5s ease-in-out;
}

/* --- animation des menus de pages ---*/
.item-1 {
  animation: 500ms 50ms animation-menus-scale;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
@keyframes animation-menus-scale {
  0% {
    transform: scaleY(0);
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}

.item-2 {
  animation: 500ms 100ms animation-menus-scale;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
@keyframes animation-menus-scale {
  0% {
    transform: scaleY(0);
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}

.item-3 {
  animation: 500ms 150ms animation-menus-scale;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
@keyframes animation-menus-scale {
  0% {
    transform: scaleY(0);
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}

.item-4 {
  animation: 500ms 200ms animation-menus-scale;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
@keyframes animation-menus-scale {
  0% {
    transform: scaleY(0);
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}

.item-5 {
  animation: 500ms 250ms animation-menus-scale;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
@keyframes animation-menus-scale {
  0% {
    transform: scaleY(0);
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}

.item-6 {
  animation: 500ms 300ms animation-menus-scale;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
@keyframes animation-menus-scale {
  0% {
    transform: scaleY(0);
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}

.item-7 {
  animation: 500ms 350ms animation-menus-scale;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
@keyframes animation-menus-scale {
  0% {
    transform: scaleY(0);
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}

.item-8 {
  animation: 500ms 400ms animation-menus-scale;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
@keyframes animation-menus-scale {
  0% {
    transform: scaleY(0);
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}

.item-9 {
  animation: 500ms 450ms animation-menus-scale;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
@keyframes animation-menus-scale {
  0% {
    transform: scaleY(0);
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}

.item-sup {
  animation: 500ms 500ms animation-menus-scale;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
}
@keyframes animation-menus-scale {
  0% {
    transform: scaleY(0);
    transform: scaleX(0);
  }
  100% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
}

/* --- fleche titre --*/
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.arrow::before {
  font: var(--fa-font-solid);
  content: "\f060";
  position: absolute;
  color: black;
  font-size: 30px;
  z-index: 1;
  padding: 17px;
}

.loader {
  display: grid;
  place-items: center;
  background-color: #9356DC;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  opacity: 0.9;
  animation: loader 0.5s 3s ease-in-out forwards;
  transform-origin: top left;
}
.loader::after {
  content: "bienvenue";
  font-size: 300px;
  text-align: left;
  color: #FF79DA;
  animation: gear 3s ease-in-out;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes gear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
@media (min-width: 767.98px) {
  .restaurants .image-1 {
    width: 100%;
    height: 250px;
    background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-1.jpg");
    background-size: cover;
    background-position: 25% 60%;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurants .image-2 {
    width: 100%;
    height: 250px;
    background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-2.jpg");
    background-size: cover;
    background-position: 25% 60%;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurants .image-3 {
    width: 100%;
    height: 250px;
    background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-3.jpg");
    background-size: cover;
    background-position: 25% 82%;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurants .image-4 {
    width: 100%;
    height: 250px;
    background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-4.jpg");
    background-size: cover;
    background-position: 25% 75%;
    border-radius: 15px 15px 0px 0px;
  }
}
@media (min-width: 1024px) {
  main .menu .menu__explore {
    padding-bottom: 30px;
  }
  main .choices .choices__menu {
    flex-direction: row;
    gap: 37px;
  }
  .restaurants .restaurants__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 95px;
  }
  .restaurants .restaurants__card .restaurants__card__card {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
  }
  .restaurants .restaurants__card .restaurants__card__card .image-1 {
    width: 100%;
    height: 250px;
    background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurants .restaurants__card .restaurants__card__card .image-2 {
    width: 100%;
    height: 250px;
    background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-2.jpg");
    background-size: cover;
    background-position: 25% 60%;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurants .restaurants__card .restaurants__card__card .image-3 {
    width: 100%;
    height: 250px;
    background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-3.jpg");
    background-size: cover;
    background-position: 25% 75%;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurants .restaurants__card .restaurants__card__card .image-4 {
    width: 100%;
    height: 250px;
    background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-4.jpg");
    background-size: cover;
    background-position: 25% 75%;
    border-radius: 15px 15px 0px 0px;
  }
  .restaurants .restaurants__card .restaurants__card__card .card-txt {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 5px;
    /*padding: 16px 300px 12px 13px;*/
  }
  footer {
    flex-direction: row-reverse;
    align-items: end;
    gap: 85px;
    height: 114px;
    padding-right: 35px;
  }
  footer span {
    margin-right: 25px;
  }
  footer .invers-footer {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-top: 6px;
  }
  footer .invers-footer .invers-footer__line {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  footer .invers-footer .invers-footer__line.footer-inline {
    display: flex;
    gap: 7px;
  }
  footer .invers-footer .invers-footer-inline {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  /* --- page ---*/
  .page {
    align-items: center;
  }
  .page .page-container {
    align-items: center;
    max-width: 1055px;
  }
  .page .page-container h3 {
    text-align: center;
  }
  .page .page__title i {
    position: absolute;
    top: 9px;
    right: 145px;
    font-size: 21px;
  }
  .page .page-card {
    width: 634px;
  }
}
@media (min-width: 1440px) {
  .choices .functioning {
    flex-direction: column;
  }
  .choices .choices__menu {
    flex-direction: row;
    justify-content: center;
    gap: 37px;
  }
  .restaurant {
    flex-direction: row;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
