@import "./sass/base";
@import "./sass/Layouts/loader.scss";
@import "./sass/Layouts/header";
@import "./sass/Layouts/main";
@import "./sass/Layouts/explore";
@import "./sass/Layouts/choices";
@import "./sass/Layouts/restaurants";
@import "./sass/Layouts/footer";
@import "./sass/Pages/menus";
@import "./sass/Utils/Animations/animations-pages-menus.scss";
@import "./sass/Components/title-row";

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

@media (min-width: 767.98px) {

    .restaurants {
        & .image-1 {
            @include image(100%, 250px, "../Images-et-textes-Ohmyfood/images/restaurants/image-1.jpg", 25% 60%);
        }

        & .image-2 {
            @include image(100%, 250px, "../Images-et-textes-Ohmyfood/images/restaurants/image-2.jpg", 25% 60%)
        }

        & .image-3 {
            @include image(100%, 250px, "../Images-et-textes-Ohmyfood/images/restaurants/image-3.jpg", 25% 82%)
        }

        & .image-4 {
            @include image(100%, 250px, "../Images-et-textes-Ohmyfood/images/restaurants/image-4.jpg", 25% 75%)
        }
    }
}

@media (min-width: 1024px) {

    main {
        & .menu {
            .menu__explore {
                padding-bottom: 30px;
            }
        }

        .choices {
            & h2 {}

            & .choices__menu {
                flex-direction: row;
                gap: 37px;
            }
        }
    }

    .restaurants {
        & h2 {}

        & .restaurants__card {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 40px;
            column-gap: 95px;

            & .restaurants__card__card {
                display: flex;
                position: relative;
                flex-direction: column;
                background-color: white;
                border-radius: 15px;

                & .image-1 {
                    @include image(100%, 250px, "../Images-et-textes-Ohmyfood/images/restaurants/image-1.jpg", center);
                }

                & .image-2 {
                    @include image(100%, 250px, "../Images-et-textes-Ohmyfood/images/restaurants/image-2.jpg", 25% 60%)
                }

                & .image-3 {
                    @include image(100%, 250px, "../Images-et-textes-Ohmyfood/images/restaurants/image-3.jpg", 25% 75%)
                }

                & .image-4 {
                    @include image(100%, 250px, "../Images-et-textes-Ohmyfood/images/restaurants/image-4.jpg", 25% 75%)
                }

                & .card-txt {
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    gap: 5px;
                    /*padding: 16px 300px 12px 13px;*/
                }
            }
        }
    }

    footer {
        flex-direction: row-reverse;
        align-items: end;
        gap: 85px;
        height: 114px;
        padding-right: 35px;

        & span {
            margin-right: 25px;
        }

        & .invers-footer {
            display: flex;
            flex-direction: row;
            gap: 60px;
            padding-top: 6px;

            & .invers-footer__line {
                display: flex;
                flex-direction: row;
                gap: 15px;

                &.footer-inline {
                    display: flex;
                    gap: 7px;
                }
            }

            & .invers-footer-inline {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
        }
    }

    /* --- page ---*/

    .page {
        align-items: center;

        & .page-container {
            align-items: center;
            max-width: 1055px;

            & h3 {
                text-align: center;
            }
        }

        & .page__title {
            @include heart__i(9px, 145px);
        }

        & .page-card {
            width: 634px;
        }
    }
}

@media (min-width: 1440px) {
    .loader {
        &::after {
            font-size: 300px;
        }
    }
    .choices {
        & .functioning {
            flex-direction: column;
        }

        & .choices__menu {
            flex-direction: row;
            justify-content: center;
            gap: 37px;
        }
    }

    .restaurant {
        flex-direction: row;
        justify-content: center;
    }
}