/*  ---FONTS--
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
*/
/* --Colors--
violet : #9356DC
rose : #FF79DA
turquoise : #99E2D0
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/* --- RESET ---*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/*--- global ---*/
body {
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F6F6F6;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 18.13px;
}

h3 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
}

h4 {
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
}

/* --- header ---*/
header {
  display: flex;
  flex-direction: column;
}
header .logo {
  position: relative;
  background-color: white;
  text-align: center;
  align-items: center;
  padding: 14px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header .search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  gap: 17px;
  padding: 15px;
}
header .search-bar input {
  border: none;
  background-color: #EAEAEA;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}
header .search-bar i.fa-location-dot {
  color: #353535;
  padding-left: 75px;
}

/* --- main ---*/
/* --- menu ---*/
main {
  width: 100%;
}
main .menu h2 {
  text-align: center;
  margin-top: 39.5px;
  margin-bottom: 15px;
}
main .menu p {
  text-align: center;
}

.menu__explore {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  margin-bottom: 57px;
}
.menu__explore .explore {
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 218px;
  text-align: center;
  transition: transform 200ms ease-in-out;
}
.menu__explore .explore:hover {
  transform: scale(1.02);
  box-shadow: 0 3px 10px black;
}

/* --- fonctionnement ---*/
.choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 440px;
}
.choices .functioning {
  display: flex;
  margin-left: -180px;
  margin-top: 48px;
}
.choices .choices__menu {
  display: flex;
  width: 100%;
  gap: 25px;
  margin-top: 26px;
}
.choices ol {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choices li {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 27px;
  width: 80%;
  height: 72px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.choices li:hover {
  transform: scale(1.02);
  background-color: #EAEAEA;
  box-shadow: 0 3px 5px #7e7e7e;
}
.choices span {
  position: absolute;
  left: -15px;
  padding: 4px 8px;
  border: 1px solid #9356DC;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.choices .choices-icone {
  font-size: 19px;
  position: relative;
  color: #7e7e7e;
  z-index: 1;
}
.choices .choices-icone:hover {
  transform: scale(1.02);
  color: #9356DC;
}

/* --- restaurant ---*/
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px;
}
.restaurants .restaurant__title {
  display: flex;
  margin-left: -200px;
  margin-top: 48px;
  margin-bottom: 20px;
  background-color: #F6F6F6;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants .restaurants__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  gap: 18px;
}
.restaurants .restaurants__card .new {
  position: relative;
}
.restaurants .restaurants__card .new::before {
  content: "Nouveau";
  position: absolute;
  display: grid;
  place-items: center;
  top: 20px;
  right: 15px;
  background-color: #99E2D0;
  color: #2FAF94;
  width: 80px;
  height: 29px;
}

.restaurants__card__card {
  display: flex;
  position: relative;
  height: 261px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}
.restaurants__card__card .image-1 {
  width: 100%;
  height: 250px;
  background-image: url("../Images-et-textes-Ohmyfood/images/restaurants/image-1.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__card__card .image-2 {
  width: 100%;
  height: 250px;
  background-image: url("/Assets/Images-et-textes-Ohmyfood/images/restaurants/image-2.jpg");
  background-size: cover;
  background-position: 25% 60%;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__card__card .image-3 {
  width: 100%;
  height: 250px;
  background-image: url("/Assets/Images-et-textes-Ohmyfood/images/restaurants/image-3.jpg");
  background-size: cover;
  background-position: 25% 101%;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__card__card .image-4 {
  width: 100%;
  height: 250px;
  background-image: url("/Assets/Images-et-textes-Ohmyfood/images/restaurants/image-4.jpg");
  background-size: cover;
  background-position: 25% 93%;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__card__card .card-txt {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  padding: 16px 0px 12px 13px;
}
.restaurants__card__card .card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
}
.restaurants__card__card .card-subtitle {
  font-size: 17px;
  font-weight: 300;
  line-height: normal;
}
.restaurants__card__card .heart .fas {
  color: transparent;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.restaurants__card__card .heart:hover .fas {
  opacity: 1;
  transform: scale(1.04);
}
.restaurants__card__card i {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 21px;
}

/* --- footer ---*/
footer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 25px 22px;
  background-color: #353535;
  color: white;
}
footer span {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  color: white;
  padding-bottom: 9px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .footer-line {
  display: flex;
  gap: 11px;
}
footer .tail {
  font-size: 11px;
}

/* --- page restaurant ---*/
img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.page section {
  margin-top: -45px;
  border-radius: 40px;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  background-color: #F6F6F6;
}
.page .page__title {
  position: relative;
}
.page .page__title .heart .fas {
  color: transparent;
  background-image: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.page .page__title .heart:hover .fas {
  opacity: 1;
  transform: scale(1.04);
}
.page .page__title i {
  position: absolute;
  top: 40px;
  right: 41px;
  font-size: 21px;
}
.page .page__title h3 {
  margin-left: 17px;
  margin-top: 32px;
}
.page article {
  margin: 40px 13px 0px 13px;
}
.page article h4 {
  position: relative;
  height: 27px;
  margin-bottom: 15px;
}
.page article h4::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0px;
  height: 3px;
  width: 40px;
  background-color: #2FAF94;
}
.page .page-card {
  display: flex;
  align-items: flex-end;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.page .page-card .page-card__title {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}
.page .page-card .page-card__title .page-card__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.page .page-card .page-card__title .page-card__subtitle__title {
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
}
.page .page-card .page-card__title .page-card__price {
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  margin: 15px;
}

/*# sourceMappingURL=style.css.map */
