$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-principal-background: #EAEAEA;
$color-main-container: #F6F6F6;
$color-hard-grey: #353535;
$color-new: #2FAF94;